<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betterda.shoppingsale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--二维码扫码-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.change_network_state" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.betterda.shoppingsale.welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wallet.WalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.CashWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.MingXiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.XiaoFeiWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.MyYinHangKaActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.LiJiTuijianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.MyTuijianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.TuiJianFanxianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.AddBankCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.TiXianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".stock.StockActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ziti.ZiTiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ziti.WriteZiTiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".zxing.CaptureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".message.MeassageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".findpwd.FindPwdActivity"
            android:screenOrientation="portrait"></activity>
   <activity
            android:name=".saomiao.SaoMiaoActivity"
            android:screenOrientation="portrait"></activity>


        <!--JPUSH-->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />

                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="com.betterda.shoppingsale" />
            </intent-filter>
        </receiver>
        <!--新浪微博-->

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101375552" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="585c7e6404e20542ec001d04" >
        </meta-data>

    </application>

</manifest>